.navbar-link a {
  font-size: (18, 3vw);
  text-decoration:none;
  color: #ffffff;
}

.navbar {
  list-style: none;
  padding: 16px;
  display: flex;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.navbar-margin-right {
  margin-right: 36px;
}

.navbar-home {
  margin-right: auto;
}

.navbar-link a:hover {
  color: #FCA311;
  cursor: pointer;
}
