body {
  font-family: 'Robot-Mono';
  margin: 0px;
  width: 100vw;
  max-width: 100%;
}

.section-title {
  font-weight: 100;
  font-size: max(24px, 3vw);
  border-style: solid;
  display: inline-block;
  padding: 4px;
  border-radius: 8px;
 }
