body {
  font-family: 'Inter';
  margin: 0px;
}

.no-margin {
  margin: 0px;
}

.navbar > h3 {
  margin-top: 0px;
}

.navbar {
  margin: 0px;
  display: flex;
  color: white;
  background: #292F36;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.navbar-margin-right {
  margin-right: 36px;
}

.navbar-home {
  margin-right: auto;
}

.navbar > h3:hover {
  color: #FCA311;
  cursor: pointer;
}

#tsparticles {
  z-index: -1 !important;
  position: absolute;
  height: calc(100vh - 80px);
  width: 100%;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  color: white;
}

.hero-greeting {
  display: flex;
  align-items: flex-end;
}

.greeting-small {
  font-weight: 400;
  font-size: 40px;
}

.greeting-large {
  font-weight: 800;
  font-size: 80px;
}

.hero-text {
  font-weight: 400;
  font-size: 32px;
  max-width: 860px;
}

.hero-actions {
  display: flex;
  gap: 60px;
}

.actions-bttn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.actions-bttn:hover,
.actions-bttn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.actions-bttn:hover {
  transform: translateY(-1px);
}

.actions-bttn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.projects {
  padding: 26px;
}
.projects-section-title {
  font-weight: 200;
  font-size: 69px;
  line-height: 84px;
  text-decoration-line: underline;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}